<html>
<%if @error %>
  <%= @error %>
<%end%>
  <% if @name %>
    <% @name = name %>
    <% erb :start %>
  <% else %>
    <form action="/new" method="post">
      What's your name?
      <input type="text" name="user">
      <input type="submit"> 
    </form>  
  <% end %>
</html>